.ui-bar-a {
	.gradient(@brand-blue-dark, @brand-blue-dark, ligthen(@brand-blue-dark,5%));

	.ui-btn-left {
		.gradient(@brand-blue-dark, lighten(@brand-blue-dark,5%), lighten(@brand-blue-dark,3%));
	}
}

#home {
    header {
        height:40px;

		.logo {
			background: url('../images/logo.png');
			background-size:24px 24px;
			background-repeat: no-repeat;
			height:24px;
			line-height: 24px;
			padding-left:30px;
			margin:8px;
			float:left;
		}
		p {
			margin:8px;
			line-height: 24px;
			float:right;
			color: #ccc;
			font-weight: normal;
		}
    }
}

.content.home {
    padding: 0 !important;
    box-shadow:inset 0 0 30px rgba(0,0,0,0.1);
	min-height:460px;

	.intro {
	 	.title { font-weight: bold; font-size:1.2em; }

	    color:#fff;
		.text-shadow(0, -1px, 0, black);
		background: rgba(0,0,0,0.8);
		position: absolute;
		width:80%;
		margin-left:-45%;
		padding:15px 5%;
		top:100px;
		left:50%;
		.border-radius(10px, 10px, 10px, 10px);
		.box-shadow(3px, 3px, 15px, rgba(0,0,0,0.3));

		text-align:center;
	}
	
	.silhouette {
		width:300px;
		height:350px;
		margin:20px auto;
		background-image: url('../images/silhouette-empty.png');
		background-size: 150px 350px;
		background-position: top center;
		background-repeat: no-repeat;

		position:relative;


		.humansprite {
			margin:0 auto;
			width:150px;
			
			position: relative;
			
			div {
				position: absolute;
				display: none;
				background-image: url('../images/humansprite.png');
				background-size: 500px 376px;

				&.selected {
					display: block;
				}
				&.head {
					width: (120px)/2;
					height: (115px)/2;
					top: (0px)/2;
					left: 46px;

					-webkit-filter: ~"saturate(140%)";
				}
				&.left-arm {
					width: (58px)/2;
					height: (280px)/2;
					top: (116px)/2;
					left: (26px)/2;
					background-position: 0 (-116px)/2;

					-webkit-filter: ~"saturate(140%)";
				}
				&.right-arm {
					width: (62px)/2;
					height: (280px)/2;
					top: (116px)/2;
					left: (208px)/2;
					background-position: 0 -202px;

					-webkit-filter: ~"saturate(140%)";
				}
				&.torso {
					width: (136px)/2;
					height: (260px)/2;
					top:(112px)/2;
					left:(82px)/2;
					background-position: (-364px)/2 0;

					-webkit-filter: ~"saturate(140%)";
				}
				&.left-leg {
					width: (100px)/2;
					height: (313px)/2;
					top: (370px)/2;
					left:(50px)/2;
					background-position: (-331px)/2 (-259px)/2;

					-webkit-filter: ~"saturate(140%)";
				}
				&.right-leg {
					width: (101px)/2;
					height: (313px)/2;
					top: (370px)/2;
					left: (152px)/2;
					background-position: (-709px)/2 (-259px)/2;

					-webkit-filter: ~"saturate(140%)";
				}
				&.completed {
					display: block;
					-webkit-filter: ~"hue-rotate(270deg)" !important;
				}

			}
			
		}

		ul.properties {
			padding:0;
			margin:0;
			list-style:none;

			li {
				position:absolute;
				font-weight:bold;
				font-size:14px;
				color:@medium-gray;

				a {
					text-decoration: none;
					color:@medium-gray;
				}

				&.selected {
					a {
					    color: @brand-blue-dark;
						font-weight: normal;
						display:inline-block;
						background: lighten(@brand-blue-light,20%);
						padding:3px 5px;
						border-radius:8px;
						border:1px solid @brand-blue-light;
					}

				}

				&.completed {
					a {
						color: #fff;
						font-weight: normal;
						display:inline-block;
						background-color: #34ba15;
						background-image: -webkit-linear-gradient(top, #34ba15 0, #2da012 100%);
						background-image: linear-gradient(to bottom, #34ba15 0, #2da012 100%);
						border: 1px solid #278f0f;
						padding:3px 5px;
						border-radius:8px;
						text-shadow: none;
    					text-decoration: line-through;
					}
				}

				&:after {
					content:" ";
					height:1px;
					border-bottom:1px dotted @medium-gray;
					position: absolute;
					bottom:-5px;
				}

				&.head {
					top:10px;
					right:0px;
					&:after {
						width:140px;
						right:0;
					}
				}
				&.left-arm {
					top:60px;
					left:0px;
					&:after {
						width:110px;
						left:0;
					}
				}
				&.right-arm {
					top:80px;
					right:0px;
					&:after {
						width:110px;
						right:0;
					}
				}
				&.torso {
					top:140px;
					left:0px;
					&:after {
						width:140px;
						left:0;
					}
				}
				&.left-leg {
					bottom:70px;
					left:0px;
					&:after {
						width:110px;
						left:0;
					}
				}
				&.right-leg {
					bottom:90px;
					right:0px;
					&:after {
						width:110px;
						right:0;
					}
				}
			}
		}
	}
}