@import "font-awesome.less";
@import "mixins.less";


@brand-blue: #2a9ce6;
@brand-blue-light: #83c8f3;
@brand-blue-dark: #002c48;
@brand-orange: #fe9c00;


body {
}

.content {
	&.register {
		background: @brand-blue-dark;
		background-image: url('../images/silhouette-empty-dark.png');
		background-size: 330px 770px;
		background-position: top center;
		background-repeat: no-repeat;
		.welcome {
			color: #fff;
			width:70%;
			margin:60px auto 30px auto;
			text-align: center;
		}
		form {
			width:70%;
			margin:0 auto;
		}
	}
}