@import "font-awesome.less";
@import "mixins.less";
@import "home.less";
@import "howto.less";
@import "forms.less";
@import "task.less";
@import "register.less";

@brand-blue: #2a9ce6;
@brand-blue-light: #83c8f3;
@brand-blue-dark: #002c48;
@brand-orange: #fe9c00;


@light-gray: #ccc;
@medium-gray: #777;

body {
}

@-webkit-keyframes fadeSilhouette {
    0% {
        background-position: center -15px;
    }
    100% {
        background-position: center 0px;
    }
}

@-webkit-keyframes fadeForm {
    0% {
        margin-top:-15px;
        opacity: 0;
    }
    100% {
        margin-top:0px;
        opacity: 1;
    }
}

.content {


	h1,h2,h3 { color: #444; }
	p {
		line-height: 1.5;
		margin-bottom:0.8em;
	}

	h2 + p {
		margin-top:0.8em;
	}

	.footer-navigation {
	    padding-top:20px;
		list-style: none;
		text-align: center;
		text-shadow:none;
		li {
			display: inline-block;
			padding:5px 15px;
			border-right:1px solid #ccc;
			&:last-of-type {
				border-right: 0;
			}
		}
	}
}