.content.task {
	padding:0 15px;
	.cover-image {
	    margin:0 -15px 0 -15px;
	    img {
			width:100%;
			height:auto;
		}
	}
	.lead {
		font-size:16px;
		font-weight: 500;
		color:#444;
		margin-bottom: 30px;

		h2 {
			font-size:1.2em;
			border:none;
		}

		.proceed {
			margin:30px 0;
			text-align: center;
		    i {
				font-size:60px;
				color:@light-gray;
				display: block;
			}
			p {
			    color: @medium-gray;
				font-size:0.8em;
			}
		}
	}

	h2 {
		border-bottom: 1px solid #eee;
		margin-bottom:15px;
		padding-bottom:6px;
	}
	.goals {
		.reward {
		    margin:20px 0;
		    padding-left:80px;
			position:relative;
			font-size:0.8em;
			i {
				font-size:50px;
				left:10px;
				position: absolute;
				color:@brand-blue;
			}
		}
		#saveGoalsButton {
			margin:25px 0 40px 0;
		}
	}
	.progress {
	    border-top:1px solid @brand-blue-light;
	    border-bottom:1px solid @brand-blue-light;
		background: lighten(@brand-blue-light, 15%);
		margin:20px -15px 40px -15px;
		padding:1px 15px 0 15px;
		h2 {
		    border:0;
			color:@brand-blue-dark;
			width:80%;
			text-align: center;
			margin:20px auto 0 auto;
		}
		.reward {
		    padding-left:80px;
			position:relative;
			i {
				font-size:50px;
				left:10px;
				position: absolute;
				color:@brand-blue;
			}
		}
	}
	.help {
		.hint {
		    padding:0 15px 25px 15px;
		    margin:20px -15px 0 -15px;
			background: lighten(@brand-blue-light, 20%);
	    	border-top:1px solid @brand-blue-light;
			font-size:0.8em;
		}
	}
}